[submodule "SW-Eng-Project"]
	path = SW-Eng-Project
	url = https://github.com/lucasssvaz/SW-Eng-Project.git
[submodule "IC-CubeSat"]
	path = IC-CubeSat
	url = https://github.com/lucasssvaz/IC-CubeSat.git
[submodule "Reaper_Compiler"]
	path = Reaper_Compiler
	url = https://github.com/lucasssvaz/Reaper_Compiler.git
[submodule "Reaper_Processor"]
	path = Reaper_Processor
	url = https://github.com/lucasssvaz/Reaper_Processor.git
[submodule "PCD"]
	path = PCD
	url = https://github.com/lucasssvaz/PCD.git
[submodule "TCC_LoRa"]
	path = TCC_LoRa
	url = https://github.com/lucasssvaz/TCC_LoRa.git
