[submodule "SW-Eng-Project"]
	url = https://github.com/lucasssvaz/SW-Eng-Project.git
[submodule "IC-CubeSat"]
	url = https://github.com/lucasssvaz/IC-CubeSat.git
[submodule "Compiladores/Cminus_Compiler"]
	url = https://github.com/lucasssvaz/Cminus_Compiler.git
