[submodule "SW-Eng-Project"]
	path = SW-Eng-Project
	url = https://github.com/lucasssvaz/SW-Eng-Project.git
[submodule "IC-CubeSat"]
	path = IC-CubeSat
	url = https://github.com/lucasssvaz/IC-CubeSat.git
[submodule "Compiladores/Reaper_Compiler"]
	path = Compiladores/Reaper_Compiler
	url = https://github.com/lucasssvaz/Reaper_Compiler.git
[submodule "LAB AOC/Reaper_Processor"]
	path = LAB AOC/Reaper_Processor
	url = https://github.com/lucasssvaz/Reaper_Processor.git
