
Mod\. Comp\./Neuron/teste

Mod\. Comp\./Neuron/Neuron

Mod\. Comp\./Neuron/a\.out

Mod\. Comp\./Neuron/Network_Generator

Mod\. Comp\./Neuron/plot\.dat

*.dat

Mod\. Comp\./Neuron/Neuron\.zip

Mod\. Comp\./Neuron/Relatório Rede Neural\.pdf

Mod\. Comp\./Transmission/Transmission\.zip

Mod\. Comp\./Transmission/Transmission

Mod\. Comp\./Transmission/Relatório Transmission\.pdf

Mod\. Comp\./Transmission/Graphs/05-1-50-2-1\.png

Mod\. Comp\./Transmission/Graphs/Screenshot at 2018-06-08 23-40-11\.png

Mod\. Comp\./Transmission/Graphs/Screenshot at 2018-06-08 23-42-13\.png

Mod\. Comp\./Transmission/Graphs/Screenshot at 2018-06-08 23-45-45\.png

Mod\. Comp\./Transmission/Graphs/Screenshot at 2018-06-08 23-46-39\.png

AED2/tste
