
Mod\. Comp\./Neuron/teste

Mod\. Comp\./Neuron/Neuron

Mod\. Comp\./Neuron/a\.out

Mod\. Comp\./Neuron/Network_Generator

Mod\. Comp\./Neuron/plot\.dat

*.dat

Mod\. Comp\./Neuron/Neuron\.zip

Mod\. Comp\./Neuron/Relatório Rede Neural\.pdf

Mod\. Comp\./Transmission/Transmission\.zip

Mod\. Comp\./Transmission/Transmission

Mod\. Comp\./Transmission/Relatório Transmission\.pdf

Mod\. Comp\./Transmission/Graphs/

AED2/tste

*/desktop.ini

LAB AOC/Video/desktop\.ini

LAB AOC/Video/*.mp4

BD/brModelo\.jar

Reaper_Processor.vpp.*
PAA/teste

SO/LAB 1/teste

Compiladores/Final/video.mp4

Compiladores/Final/T1.zip

Compiladores/Final/link.txt

*.out

Compiladores/CompRel/

Compiladores/Compilador_v2
Compiladores/Final
Compiladores/Cminus_Compiler
Compiladores/LAB1/
Compiladores/LAB2/
Compiladores/CompRel (2).rar

SO/LAB 4/Trab2_SO.zip

*.zip

Compiladores/CompT/

Compiladores/Final/

LAB SO/Processor/db/

LAB SO/Processor/incremental_db/

LAB SO/Processor/output_files/

LAB SO/Ref/

*.o

LAB SO (copy 1)/

*.bak

LAB SO/Processor/simulation/
